section.about
	.container
		+blockBox("What we do","story about us","Công nghệ là sự phát minh, sự thay đổi, việc sử dụng, và kiến thức về các công cụ, máy móc, kỹ thuật, kỹ năng nghề nghiệp, hệ thống, và phương pháp tổ chức, nhằm giải quyết một vấn đề, cải tiến một giải pháp đã tồn tại, đạt một mục đích, hay thực hiện một chức năng cụ thể đòi hỏi hàm lượng chất xám cao.")
		.about-list 
			.about-item 
				img.about-image(src="https://images.unsplash.com/photo-1625748733943-2d468aeaf454?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Superasdddddddddddddddddddddddasddddddddsadddddddddddddddddddddddddddddddddssssssssssssteam
			.about-item 
				img.about-image(src="../images/img-about2.png")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Super team
			.about-item 
				img.about-image(src="../images/img-about3.png")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Super team
			