section.people 
    .container
        +blockBox("Happy clients","what people say")
        ul.people-list 
            +peopleItem
            +peopleItem
            +peopleItem
            +peopleItem