section.quote
    .container 
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem("../images/nguyen1.jpg",true)
            +quoteItem("../images/nguyen1.jpg",true)
            +quoteItem("../images/nguyen1.jpg",true)
