section.service 
	.container
		+blockBox("We work with","amazing services")
		.service-container
			.service-list 
				+serviceItem("../images/img-service-icon2.png", "photography", "“Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính")
				+serviceItem("../images/img-service-icon2.png", "photography", "“Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính")
				+serviceItem("../images/img-service-icon2.png", "photography", "“Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính")
			.service-list 
				+serviceItem("../images/img-service-icon2.png", "photography", "“Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính")
				+serviceItem("../images/img-service-icon2.png", "photography", "“Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính")
				.service-item 
					img.service-item-icon(src="../images/img-service-icon2.png")
					.service-item-info 
						h3.service-item-title photography
						span.service-item-desc “Công nghệ thông tin” – gọi tắt là IT (Information Technology) trên thế giới bao gồm khoa học máy tính và kỹ thuật máy tính