section.story 
    .container 
        +blockBox("Our story","latest blog")
        ul.story-list
            +storyItem
            +storyItem
            +storyItem

section.map
    .container 
        .map-content
            img.map-icon(src="../images/img-map-icon.png")
            h2.map-heading open map
            
