section.work 
    .container 
        +blockBox("What we do","som our of work","Công nghệ là sự phát minh, sự thay đổi, việc sử dụng, và kiến thức về các công cụ, máy móc, kỹ thuật, kỹ năng nghề nghiệp, hệ thống, và phương pháp tổ chức, nhằm giải quyết một vấn đề, cải tiến một giải pháp đã tồn tại, đạt một mục đích, hay thực hiện một chức năng cụ thể đòi hỏi hàm lượng chất xám cao")
    .work-list 
        .work-column
            +workItem("../images/img-work1.png")
            +workItem("../images/img-work2.png")
            +workItem("../images/img-work3.png")
            +workItem("../images/img-work4.png")
            +workItem("../images/nguyen.jpg")
            +workItem("../images/img-work6.png")
            +workItem("../images/img-work7.png")
            