.quote {
  /* khi sử dụng slick slider dùng display:flex sẽ bị lỗi bên sẽ không dùng */
  padding: 6.5rem 0;
  background-color: $gray-color;

  &-arrow {
    color: $gray-dark-color;
    font-size: 3rem;
    cursor: pointer;
    padding: 2rem;
  }
  &-item {
    padding: 0 5.5rem;
    @include flex(center);
  }
  .slick-arrow {
    background-color: transparent;
    border: 0;
    color: $gray-dark-color;
    font-size: 5rem;
    cursor: pointer;
    padding: 2rem;  
    @include absoluteCenter("top");
    z-index: 10;
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
  //slick slider
  .slick-initialized .slick-slide {
    display: flex;
  }



  &-icon {
    width: 15rem;
    height: 15rem;
    @include flex(center, center);
    border: 3px solid $green-color;
    flex-shrink: 0; // không bị thu lại
    margin-right: 6rem;
  }
  &-image{
    width:22rem;
    height:22rem;
    border-radius:50%;
    flex-shrink:0;
    margin-right: 2.5rem;
  }
  &-info {
    font-style: italic;
    font-size: 1.7rem;
  }
  &-desc {
    font-family: $secondary-font;
    color: $text-color;
    line-height: 1.6;
    font-weight: 300;
    padding-bottom: 2rem;
  }
  &-author {
    font-family: $third-font;
    position: relative;
    padding-left: 7rem;
    &:before {
      content: "";
      width: 6rem;
      height: 3px;
      @include absoluteCenter("top");
      left: 0;
      background-color: $red-color;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 4.5rem 0;
    &-arrow {
      display: none;
    }
    &-item {
      flex-direction: column;
      padding: 0;
    }
    &-icon {
      width: 10rem;
      height: 10rem;
      margin-right: 0;
      img {
        max-width: 50%;
      }
    }
    &-info {
      margin-top: 2rem;
    }
    &-author {
      font-size: 2rem;
      padding-left: 0;
      display: grid;
      place-items: center;
      position: relative;
      &:after {
        content: "";
        width: 6rem;
        height: 3px;
        @include absoluteCenter("top");
        right: 4rem;
        transform: translateX(-50%);
        background-color: $red-color;
      }
      &:before {
        left: 4rem;
        transform: translateX(50%);
      }
    }
  }
}
